/**
 * This file provides the _default theming_ for arc-panel, which may
 * be overriden by themes
 */

/**
 * The main panel area
 */
.arc-panel {
    background-image: linear-gradient(to bottom, rgba(37, 39, 45, 0.95));
    transition: 170ms ease-out;
}

/**
 * Container for both the "panel" area and the shadow. Wise to keep
 * this transparent..
 */
.arc-container {
    background-color: transparent;
}

/* Adapted from Numix - swapped directions */
.shadow-block.bottom {
    background-color: transparent;
    background-image: linear-gradient(to top,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}

.shadow-block.top {
    background-color: transparent;
    background-image: linear-gradient(to bottom,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}
.shadow-block.left {
    background-color: transparent;
    background-image: linear-gradient(to right,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}
.shadow-block.right {
    background-color: transparent;
    background-image: linear-gradient(to left,
                                      rgba(0, 0, 0, 0.3),
                                      transparent
                                      );
}

GtkScrolledWindow {
    background-color: transparent;
}

GtkPopover GtkListBox {
    background-image: none;
    background-color: transparent;
}

GtkPopover GtkListBoxRow {
    background-image: none;
    background-color: transparent;
}

GtkPopover .scrollbar .trough {
    background-color: transparent;
    background-image: none;
    border-image: none;
}

